.widget.widget-info
  .widget-info
    a(style='text-align:center')
      img.widget-info-photo(src=url_for(config.photo))(style='width:80px;height:80px;border-radius: 100%;')
    p.myname=config.myname
    p.slogan=config.slogan
    
